#bg {
  background-image: url("http://idealbrothers.thesoftking.com/html/bigenza/bigenja/assets/img/bg/header-bg.jpg");
}
.poppins {
  font-family: "Poppins", sans-serif;
}
#ladies-wear {
  background-image: url("http://idealbrothers.thesoftking.com/html/bigenza/bigenja/assets/img/bg/ladies-cloths-bg.jpg");
}
#shipping {
  background-image: url("http://idealbrothers.thesoftking.com/html/bigenza/bigenja/assets/img/bg/shipping-bg.jpg");
}
